{
  "presets": [
    [
      "@babel/preset-env",
      {
        "spec": false,
        "loose": true,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    ["@babel/preset-react", { "useBuiltIns": true }]
  ],

  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-transform-runtime", { "helpers": true }]
  ]
}
