language: node_js

node_js:
  - 'lts/carbon'
  - 'lts/dubnium'

env:
  global:
  - COMMIT_AUTHOR_NAME: ITSLanguage Bot
  - COMMIT_AUTHOR_EMAIL: its-bot@itslanguage.nl

addons:
  chrome: stable

before_install:
  # Install latest yarn version
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s --
  - export PATH="$HOME/.yarn/bin:$PATH"

after_success:
  # Failing will "fail" the build
  # doing this step in before_deploy
  # will not.
  - yarn run build
#  # We want to be in the build directory for
#  # all steps that follow
#  - cd build
#  # Make sure our script is executable
#  - chmod +x $TRAVIS_BUILD_DIR/scripts/gh-pages.sh

matrix:
  include:
    - name: ITSLanguage API
      env: PACKAGE_LOCATION=$TRAVIS_BUILD_DIR/build/api
    - name: ITSLanguage Player
      env: PACKAGE_LOCATION=$TRAVIS_BUILD_DIR/build/player
    - name: ITSLanguage Recorder
      env: PACKAGE_LOCATION=$TRAVIS_BUILD_DIR/build/recorder

before_deploy: "cd $PACKAGE_LOCATION"
deploy:
#  # Deploy to GitHub pages with our Bot user.
#  # Runs when a tag is made available.
#  - provider: script
#    skip_cleanup: true
#    script: "$TRAVIS_BUILD_DIR/scripts/gh-pages.sh"
#    on:
#      branch: master
#      tags: true
#
#  # Deploy to GitHub pages with our Bot user.
#  # It seems that it is not possible to specify both "on"
#  # arguments. Runs when master get's an update.
#  - provider: script
#    skip_cleanup: true
#    script: "$TRAVIS_BUILD_DIR/scripts/gh-pages.sh"
#    on:
#      all_branches: true
#      condition: $TRAVIS_BRANCH =~ ^master|next

  - provider: npm
    skip_cleanup: true
    email: its-bot@itslanguage.nl
    api_key:
      secure: jPFWqq7/5TxgFh0sjK5fdt8mEvwwheVjy23jRpd8hZVUgS2xRaxxfrZTazEDeqd8oTEimcUMixHtCcvBVBQMg0iGqiUDeG3myf7WrE5mEgjHGYYqCpqTdTu8pRrXfdbN0GMX56/JaUC4S/qZ8sj0mgry4KdW8t7qHAsLV7csKcehrNPX53RV/UGsi4NGtHwExKgHv5plnAH1xvx1WsUq3+gYWrjvZhXx2LTlwBDp5ToffISmmNisqpsA5UDcdZhRZQ2Hs66a7CjMp/kgTQCGsbom4NPAeS0X0UQF64SvcqJBe4VkJRy9LPo14XSqpW8giyKKqmJvlm4Lj+aLG4Rbb605JQtyCDbc4neRzec63YjFS1DFamtSaPHDNfuN8nytv/vQasV6SBuS5p8EmkVfMcfVLKCedn6M3Pw/d5rxai7EQalsCbiDZPFOYpXdeGyeKNVvn5w2E3wCZ4EuZNWUXO+cNlHroD80539heUjACv4SpwEn9pbBBtXYyN9LF6J10ApEqUpYm8XCnFzrzslgKQXGHFfIACuK5NpYU6LS8zz1H4UKui45hGMAjswHIv8avNjRA0QYMt8EXOcLtp7xfMBfwswziu8SkX2sIZkMOL/ToJf2hiZcVZFGDaBr9l+8HuC6cy3ZpG09xGR7afeQPTf6wTaPe8+mWR7YeIUXp8A=
    on:
      tags: true

notifications:
  slack:
    secure: h2/webRUw7XjVCWPma3ck+CJKMr5/0jj2A4zsk+Xm83dR8FOSiubWZP6I/0w6GapwcAWfAKPzLbZgPA0RHK5lOUqXyEMqJjeD6Srw1acZ7Ir0lnkC2/77+925Azhc7ZdqR2gZGvtMQ18UZ1u9St4+Gq6PGbZiJ+WY3QM8+U/OPjqpVcdcaQG1EuQrkKZyafTMeEO0zwkBnOyW0rzFKwN2kT8aGfXKvd814cvJv+H9FO0k/YZPDXxmS7nRdcnF8Hbg7x09nBa9Y9Q9vTNhBcmclUAqAbNcghD2hEYOPkRKm5hIOyzDt66vhCvDKZD3zHH/opp1sh2ClOB5Cqh7cc3MiUS/PAyAqaO+++1bfmv09SvHIydWI1jRyrxPJxtinA7WLjedkY2g7l+3cJ+WcwGgOLW+5IlSMbjTQI92TPv6aeWw/DzyAzjRGEP25Q7hFSmq2mZjCrTcI+Bm5ZZuIlvemClri4MT8rJsPSbuMzgare1TMM1WZK8oybTPkCHwDscg+hn6ZvoVWScxk/4E1dt1P0qAkXVoCyWRu/k6P4QWjtX/U6q72L6l22yZJ7D7YZOA4VKLP/JynM9CUVfrP3EG8IbG8zibeYsQn4ocIa66p9ReRu8ADjmzbbSFCKW+W01q006HE1MvmeEhvO18Z9Dwow6fvf2yrzLid5stKMcukY=

