.Button {
  background-color: #dadada;
  border: none;
  border-bottom: 2px solid #2d3a48;
  border-right: 2px solid #2d3a48;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 0.2rem;
}

.Button:hover {
  background: #2d5b71;
}

.Button:focus {
  outline: none;
}

.Button:active {
  transform: scale(0.99);
}
