body {
  background-color: #2db7dd;
  color: #202020;
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  background-color: #6ccde7;
  color: #9b3a27;
  font-family: 'Fira Mono', monospace;
  font-weight: 400;
  padding: 0 0.3rem;
}

pre {
  background-color: #6ccde7;
  padding: 1rem;
  width: 100%;
}

p {
  margin-top: 0;
}
